.main-grid {
  display: inline-block;
  width: 100%;
}

.day-button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  background-color: rgba(141, 135, 65, 0.6);
  font-size: 0.8em;
}

.day-button:hover {
  cursor: pointer;
  background-color: rgba(141, 135, 65, 1);
}
