.selection-modal {
  width: 100%;
}

.left-modal {
  width: 49%;
  float: left;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.right-modal {
  width: 49%;
  float: right;
  background-color: #f1f1f1;
  border-radius: 5px;
}
